.container{
    display: flex;
    justify-content: center;
    > div{
        margin: 1%;
    }
}

.container_categories{
    height: 31px;
    width: 100%;
    display: flex;
    
    
}

.col2{
    width: 100%;
}

.container_product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
