.tittle{
    font-family: Avenir;
    font-size: 35px;
    color: #2B3445;
    width: 80%;
}

.price{
    color: #004AC1;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 35px;
    text-align: end;
}

.old_price{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    color: #7D879C;
    text-decoration: line-through;
}

.description{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    color: #2B3445;
    margin-top: 2%;
    margin-bottom: 2%;
}

.limit{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    color: #E6406D;
    margin: 0px;
}

.row1{
    display: flex;
    justify-content: space-between;
}

.container_information{
    width: 700px;
    padding: 1%;
}


.score{
    margin-top: 2%;
    margin-bottom: 3%;
    svg{
        width: 30px;
        height: 30px;
        margin-right: 1%;
    }
}

.row3{

    > div{
        display: flex;
        justify-content: end;
        margin-bottom: 2%;
    }
}

.row4{
    position: relative;
    height: 260px;

    img{
        position: absolute;
        left: -11%;
    }
}

.container{
    height: 500px;
    display: flex;
    justify-content: center;
    
    margin: 2%;
}

.ajust{
    margin: 2%;
    margin-left: 100px;
}

.container_preview{
    width: 30%;
}

.img_panel{
    display: flex;
}

.img_preview{
    margin: 15%;
}

.tabs{
    width: 462px;
    height: 482px;
}

.container_row2{
    display: flex;
    justify-content: center;
    > div{
        margin: 2%;
    }
}

.img_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.details{
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;
}