.filters{
    border: black solid 1px;
    padding: 2%;
    width: 30%;
}

.sorter{
    width: 30%;
    display: flex;
    div{
        width: 100%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: black solid 1px;
    }
}

.row1{
    display: flex;
    margin-right: 1%;
    > div{
        margin-right: 5%;
        margin-bottom: 2%;
    }
}

.search_bar{
    width: 45%;
    display: flex;
    align-items: center;
    margin-right: 1%;
    
}

.dropdown_categories{
    background-color: #EBEFF4;
    width: 500px;
    font-size: 14;
    font-weight: normal;
}

.row2{
    display: flex;
    margin-right: 1%;
}

.row1_row1{
    display: flex;
    margin-right: 1%;
}
