.filters{
    border: black solid 1px;
    padding: 2%;
    width: 30%;
}

.sorter{
    display: flex;
    div{
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: black solid 1px;
    }
}


.sorter_label{
    width: 40%
}

.sorter_option{
   width: 60%;
}

.search_bar{
    display: flex;
    align-items: center;
    margin: 0;    
}


.row1{
    display: flex;
    margin-right: 1%;
}

.row1_row1{
    display: flex;
    margin-right: 1%;
}

.container_star{
    margin-top: 2%;
    margin-bottom: 3%;
    svg{
        width: 20px;
        height: 20px;
        margin-right: 1%;
    }
}

.categories{
    width: 300px;
    margin: 0;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
