*{
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
}

body{
  background-color: #EBEFF4;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/static/OpenSans-ExtraBold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/static/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/static/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/Open_Sans/static/OpenSans-Light.ttf');
  font-weight: lighter;
}